<!-- HEADER -->
    <div class="container-fluid logo-block header-brand">
        <h1 class="logo-text mb-0">Fresh Bakery</h1>
    </div>
    <!-- NAVIGATION -->
    <ul class="nav justify-content-center">
        <li><a href="index.html" class="btn btn-cst-light mx-2 my-2 active">Home</a></li>
        <li><a href="about.html" class="btn btn-cst-light mx-2 my-2">About Us</a></li>
        <li><a href="menu.html" class="btn btn-cst-light mx-2 my-2">Menu</a></li>
        <li><a href="shop.html" class="btn btn-cst-light mx-2 my-2">Shop</a></li>
        <li><a href="contact.html" class="btn btn-cst-light mx-2 my-2">Contact</a></li>
    </ul>