<!-- HERO -->
<div class="container-fluid bg-primary">
    <div class="">
        <div class="row">
            <div class="text-container col-md-6 py-5 px-4">
                <h1>SOME TEXT</h1>
                <h2>Order for Snacks...!</h2>
                <p class="light-text p-24">Lorem Ipsum has been the industry's standard dummy text ever since the Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="" class="btn btn-lg btn-cst-light">Order Now</a>
            </div>
            <div class="image-container col-md-6 bg-secondary">
                
            </div>
        </div>
    </div>
</div>