<!-- SERVICES -->
<div class="container services-block">
    <span class="service-heading">Our Specialities</span>
    {% include spacer.html %}
    <div class="row">
      <div class="col-md-4 px-3 service">
        <img src="https://bityl.co/8DB3" alt="" width="250px" height="250px" class="service-img">
        <h3>Some Heading</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique pariatur veniam asperiores adipisci nulla voluptatum cupiditate recusandae ab deleniti? Minima excepturi neque quisquam nisi non accusamus eaque porro accusantium laboriosam.</p>
        <a href="" class="btn btn-cst-dark my-2">Read More...</a>
      </div>
      <div class="col-md-4 px-3 service">
        <img src="https://bityl.co/8DB4" alt="" width="250px" height="250px" class="service-img">
        <h3>Some Heading</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique pariatur veniam asperiores adipisci nulla voluptatum cupiditate recusandae ab deleniti? Minima excepturi neque quisquam nisi non accusamus eaque porro accusantium laboriosam.</p>
        <a href="" class="btn btn-cst-dark my-2">Read More...</a>
      </div>
      <div class="col-md-4 px-3 service">
        <img src="https://bityl.co/8DB5" alt="" width="250px" height="250px" class="service-img">
        <h3>Some Heading</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique pariatur veniam asperiores adipisci nulla voluptatum cupiditate recusandae ab deleniti? Minima excepturi neque quisquam nisi non accusamus eaque porro accusantium laboriosam.</p>
        <a href="" class="btn btn-cst-dark my-2">Read More...</a>
      </div>
    </div>
  </div>