<!-- SERVICES SECTION -->
<div class="container-fluid px-5 service">
    <h2 class="mx-0 my-3 text-center">Our Services</h2>
    <div class="row text-center">
        <div class="col-4">
            <img src="{{ site.baseurl }}/public/images/services/1.png" alt="" class="img-fluid" width="50%">
            <h3 class="mt-4">First Service</h3>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quos enim mollitia accusamus explicabo accusantium sequi nam magni et officia maiores modi odit sint, molestias beatae voluptatem rem aperiam culpa!</p>
            <button class="btn btn-primary">Click Here</button>
        </div>
        <div class="col-4">
            <img src="{{ site.baseurl }}/public/images/services/2.png" alt="" class="img-fluid" width="50%">
            <h3 class="mt-4">Second Service</h3>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quos enim mollitia accusamus explicabo accusantium sequi nam magni et officia maiores modi odit sint, molestias beatae voluptatem rem aperiam culpa!</p>
            <button class="btn btn-primary">Click Here</button>
        </div>
        <div class="col-4">
            <img src="{{ site.baseurl }}/public/images/services/3.png" alt="" class="img-fluid" width="50%">
            <h3 class="mt-4">Third Service</h3>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quos enim mollitia accusamus explicabo accusantium sequi nam magni et officia maiores modi odit sint, molestias beatae voluptatem rem aperiam culpa!</p>
        <button class="btn btn-primary">Click Here</button>
        </div>
    </div>
</div>
<div class="spacer"></div>